@import url('reset.css');
/* font-family: 'Montserrat', sans-serif; */

/* !GLOBAL STYLES */
body {
font-family: 'Roboto', sans-serif;
font-weight: 400;
background: #F5F5F5;
color: #161616;
font-size: 18px;
}
.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}


/* HEADER ------------ */

.header {
	background: #81A36B;
	padding: 20px 0;
}

.container-header {
	font-size: 0;
}

.header-logo {
	display: inline-block;
	font-size: 18px;
	margin-right: 130px;
}

.logo-img {
	display: block;
}

.logo-img img {
	width: 100%;
    height: 100%;
}
.menu {
	display: inline-block;
	font-size: 18px;
}

/* .menu ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
} */


/*______________ MAIN_____________ */

.main {
	display: flex;
	gap: 30px;
	align-items: center;
	margin-bottom: 120px;

}

h1 {
font-family: Montserrat;
font-size: 62px;
font-weight: 400;
line-height: 67px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 60px;

}

.text {
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 60px;

}

/* ABOUT_us _____________ */
.about_us {
	margin:0  120px;
	text-align: center;
	
}

.title {
font-family: Vetrino;
font-size: 32px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
margin-bottom: 60px;
text-align: center;

}

/* *TODO: PRICE */
.price {
	background: #81A36B;
	padding: 80px 0;
	margin-bottom: 120px;
}
.price-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* WE WORK__________ */

.we_work {
	display: flex;
	gap: 30px;
	align-items: center;
	margin-bottom: 120px;
}


/* !FOOTER */
.footer {
	background: #81A36B;
	padding: 60px 0;
}

.flex-conteiner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.flex-conteiner h3 {
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 40px;
}

.footer-contact a {
	color: #161616;
	text-decoration: none;
	display: inline-block;
}

.footer-contact ul > li + li {
	margin-top: 20px;
}

.footer-social ul {
display: flex;
flex-direction: row;
justify-content: center;
gap: 20px;

}

/* .footer-contact ul > li:last-child {
	margin-bottom: 0;
} */
.footer-year {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-align: center;
}